body {
  background-color: hsl(200, 50%, 20%);
  color: white;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: inline-grid;
}

.wrapper > button {
  margin-bottom: 15px;
}
.wrapper > button:nth-child(-n + 2) {
  background-color: #006400;
  outline: none;
  border: none;
  padding: 5px;
  color: white;
  cursor: pointer;
}

.wrapper > button:not(:nth-last-child(n + 4)) {
  background-color: lightcoral;
  outline: none;
  border: none;
  padding: 5px;
  color: white;
  cursor: pointer;
}
