.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.information input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
  cursor: pointer;
}
.line-brake {
  height: 5px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: brown;
}

.employees {
  text-align: center;
  display: flex;

  justify-content: center;
  flex-flow: wrap;

  background-color: antiquewhite;
}
.employees > ul:not(:last-child) {
  margin-right: 10px;
}
.employees > ul :first-child {
  margin-bottom: 10px;
}
/* ul li:not(:first-child):not(:last-child) */

/*! Тут нужны стили для обычной карточки  */
.employeeList {
  list-style: none;
  display: flex;
  flex-direction: column;

  width: 270px;
  justify-content: center;
  align-items: center;

  min-height: 270px;

  background: #fafafa;
  padding: 0;
}

.styleSpan {
  color: lightsalmon;
}

.imgFn {
  width: 100px;
}

.getAllListBtn {
  margin-top: 15px;
  margin: auto;
}

.buttoStyle {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  width: 150px;
}
